
header{
    top: 2rem;

    padding: 0 4rem;
}
.header__navbar{
    position: unset;
    display: flex;
    align-items: center;
}
.navbar__list_container{
    position: unset;
    top: unset;
    right: unset;

    width: unset;
    height: unset;
    padding-block-start: unset;

    clip-path: unset;
    background-color: unset;
}
.navbar__list_container--inactive{
    display: unset;
}
.navbar__list_container ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.navbar__list_container ul li{
    color: white;
}
.contact__button{
    background-color: white;
}
.navbar__button{
    display: none;
}
.main__frontpage{
    height: 80rem;

    background-image: url('../images/desktop/image-header.jpg');
}
.main__frontpage div{
    gap:  8rem;

    margin-block-end: 10rem;
}
.main__frontpage h1{
    font-size: 5rem;
}

.main__services{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'transform egg'
                            'pink stand'
                            'graphic photography';

    height: 180rem;

}
.services__promises{
    justify-content: center;

    padding: unset;
    gap: 2.5rem;

}
.services__promises h2{
    width: 45rem;
    padding-inline-end: 10rem;

    line-height: 4.5rem;
    text-align: left;
}
.services__promises p{
    text-align: left;

    width: 45rem;
}
.services__promises a{
    margin-inline-end: 32rem;
}
.services__promises a span{
    position: absolute;
    left: calc(0% - 5%);
    bottom: 0;

    width: 110%;
    height: 1rem;

    background-color: var(--soft-yellow);
    border-radius: 0.5rem;
    z-index: -1;
    transition: all ease-in 0.1s;
}
.services__egg_background{
    height: unset;

    background-image: url('../images/desktop/image-transform.jpg');
}
.services__pink_glass_background{
    height:unset;

    background-image: url('../images/desktop/image-stand-out.jpg');
}
.services__graphic_design_square{
    padding: 6rem 17rem;
    height: unset;

    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.services__photography_square{
    padding: 6rem 17rem;
    height: unset;

    background-image: url('../images/desktop/image-photography.jpg');
}
.main__testimonials{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 78rem;
}
.testimonials__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'n title n2'
                        'testimonial1 testimonial2 testimonial3';
    column-gap: 3rem;
    row-gap: 0rem;

    padding: unset;
    height: 48rem;
    width: 114rem;
}
.testimonials__wrapper h3{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial1{
    grid-area: testimonial1;
}
.testimonial2{
    grid-area: testimonial2;
}
.testimonial3{
    grid-area: testimonial3;
}
.testimonials__testimonial_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;

    padding: 0 0.5rem;
}


.main__images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    height: 45rem;
}
.images__milk_bottles{
    background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
}
.images__half_orange{
    background-image: url('../images/desktop/image-gallery-orange.jpg');
}
.images__sorbet{
    background-image: url('../images/desktop/image-gallery-cone.jpg');
}
.images__cubes{
    background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
}
footer{
    align-items: center;
}
.footer__links{
    width: 32rem;
}

@media (hover:hover){
    .contact__button:hover{
        color: white !important;
        background-color: #6DCFFF;
    }
}