@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces_72pt_Soft-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces_72pt_Soft-Black.ttf');
    font-weight: 900;
}

@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Fraunces';
        src: url('../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype supports variations'),
            url('../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype-variations');
        font-weight: 700 900;
    }
    
}

:root{
    --soft-red:  hsl(7, 99%, 70%);
    --very-soft-red: hsl(7, 100%, 89%);
    --yellow: hsl(51, 100%, 49%);
    --soft-yellow: hsl(51, 100%, 74%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);

    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    font-family: var(--font-barlow);
}

header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2.5rem;
    height: 7rem;
    width: 100%;
}
.header__logo{
    width: 13rem;
    height: 3rem;

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.header__navbar{
    position: relative;
}
.navbar__list_container{
    position: absolute;
    top: 4rem;
    right: 0;

    width: 31rem;
    height: 30rem;
    padding-block-start: 3rem;

    clip-path: polygon(0 10%, 90% 10%, 100% 0, 100% 11%, 100% 100%, 54% 100%, 0 100%);
    background-color: white;
}
.navbar__list_container--inactive{
    display: none;
}
.navbar__list_container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    height: 100%;
    padding: 0;
    margin: 0;
}
.navbar__list_container ul li{
    list-style: none;

    color: var(--dark-grayish-blue);
}
.contact__button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 13rem;
    height: 5rem;

    font-family: var(--font-fraunces);
    font-size: 1.5rem;

    border-radius: 3rem;
    color: var(--very-dark-desaturated-blue) !important;
    background-color: var(--yellow);
}
.navbar__button{
    width: 2rem;
    height: 2rem;

    border: none;
    background-color: transparent;
    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
.main__frontpage{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 51.6rem;

    background-image: url('../images/mobile/image-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.main__frontpage div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  5rem;

    width: 80%;
    height: fit-content;
}
.main__frontpage h1{
    font-family: var(--font-fraunces);
    font-size: 3.6rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: 0.5rem;

    color: white;
}
.main__frontpage span{
    display: block;

    height: 12rem;
    width: 3.6rem;

    background-image: url('../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.main__services{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 'egg'
                            'transform'
                            'pink'
                            'stand'
                            'graphic'
                            'photography';

}
.services__promises{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6rem 2rem;
    gap: 2.5rem;

}
.services__promises h2{
    font-family: var(--font-fraunces);
    font-size: 3.6rem;
    line-height: 4.5rem;
    text-align: center;
    font-weight: 900;

    color: var(--very-dark-desaturated-blue);
}
.services__promises p{
    text-align: center;

    color: var(--dark-grayish-blue);
}
.services__promises a{
    position: relative;

    font-family: var(--font-fraunces);
    font-weight: 900;
    text-decoration: none;

    color: var(--very-dark-desaturated-blue);
}
.services__promises a span{
    position: absolute;
    left: calc(0% - 5%);
    bottom: 0;

    width: 110%;
    height: 1rem;

    background-color: var(--soft-yellow);
    border-radius: 0.5rem;
    z-index: -1;
}
.promises__stand_learnmore{
    background-color: var(--very-soft-red) !important;
}
.services__egg_background{
    grid-area: egg;

    height: 30rem;

    background-image: url('../images/mobile/image-transform.jpg');
    background-size: cover;
}
.services__pink_glass_background{
    grid-area: pink;

    height: 30rem;

    background-image: url('../images/mobile/image-stand-out.jpg');
    background-size: cover;
}
.services__graphic_design_square{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3rem;

    padding: 6rem 1.5rem;
    height: 57.6rem;

    background-image: url('../images/mobile/image-graphic-design.jpg');
    background-size: cover;
    color: var(--graphic-design-text);
}
.services__graphic_design_square h2{
    text-align: center;
    font-family: var(--font-fraunces);
    font-weight: 900;
}
.services__graphic_design_square p{
    text-align: center;
}
.services__photography_square{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3rem;

    padding: 6rem 1.5rem;
    height: 57.6rem;

    background-image: url('../images/mobile/image-photography.jpg');
    background-size: cover;
    color: var(--photography-text);
}
.services__photography_square h2{
    text-align: center;
    font-family: var(--font-fraunces);
    font-weight: 900;
}
.services__photography_square p{
    text-align: center;
}
.main__testimonials{}
.testimonials__wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 7rem;

    padding: 6rem 2rem;
}
.testimonials__wrapper h3{
    font-family: var(--font-fraunces);
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    font-weight: 900;

    color: var(--grayish-blue);
}
.testimonials__testimonial_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.testimonials__profile_picture{
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: center;
}
.testimonials__testimonial_container p{
    text-align: center;
    font-family: var(--font-barlow);
    font-weight: 600;
    
    color: var(--very-dark-grayish-blue);
}
.testimonials__testimonial_container div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonials__name{
    text-align: center;
    font-family: var(--font-fraunces);
    font-weight: 900;
    
    color: var(--very-dark-desaturated-blue);
}
.testimonials__career{
    text-align: center;
    font-size: 1.4rem;
    
    color: var(--grayish-blue);
}
.emily__pfp{
    background-image: url('../images/image-emily.jpg');
}
.thomas__pfp{
    background-image: url('../images/image-thomas.jpg');
}
.jennie__pfp{
    background-image: url('../images/image-jennie.jpg');
}
.main__images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    height: 38rem;
}
.images__milk_bottles{
    background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
    background-size: cover;
}
.images__half_orange{
    background-image: url('../images/mobile/image-gallery-orange.jpg');
    background-size: cover;
}
.images__sorbet{
    background-image: url('../images/mobile/image-gallery-cone.jpg');
    background-size: cover;
}
.images__cubes{
    background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
    background-size: cover;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    padding: 0 4rem;
    height: 35rem;

    background-color: #8FD4C5;
}
.footer__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    color: var(--photography-text);
}
.footer__title{
    width: 16rem;
    height: 4rem;

    background-image: url('../images/logo-footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16rem;
    cursor: pointer;
}
.links__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.links__wrapper a{
    text-decoration: none;
    color: #498E7F;
}
.footer__social_media_wrapper{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.footer__facebook{
    width: 2rem;
    height: 2rem;

    background-image: url('../images/icon-facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__instagram{
    width: 2rem;
    height: 2rem;

    background-image: url('../images/icon-instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__twitter{
    width: 2rem;
    height: 2rem;

    background-image: url('../images/icon-twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__pinterest{
    width: 2rem;
    height: 2rem;

    background-image: url('../images/icon-pinterest.svg');
    background-repeat: no-repeat;
    background-position: center;
}

